<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="container">
      <div class="nav-holder">
        <a id="home" href="#">Home</a>
        <a id="login" href="#">Login</a>
        <a id="register" href="#">Register</a>
      </div>

      <div id="homeContent">
        <h1>Welcome</h1>
      </div>

      <div id="btnHolder">
        <button id="enterSite">ENTER</button>
        <button id="feedBtn">Click To Sell</button>
        <button id="runBtn">Click to Buy</button>
      </div>
      <div
        id="inputHolder"
        style="justify-content: space-evenly;
      align-items: center;
      width: 100%; flex-direction: column; height: 30%;"
      >
        <input
          id="firstName"
          type="text"
          placeholder="#1 Candy of Choice"
          style="background-color:rgb(255, 238, 102);
        color: white; height: 20%;"
        />
        <input
          id="lastName"
          type="text"
          placeholder="#2 Candy of Choice"
          style="background-color:rgb(255, 238, 102);
        color: white; height: 20%;"
        />
        <button
          id="submitName"
          style="box-shadow: rgb(255, 246, 175) 0px 1px 0px 0px;
        background: linear-gradient(rgb(255, 236, 100) 5%, rgb(255, 171, 35) 100%)
          rgb(255, 236, 100);
        border-radius: 6px;
        border: 1px solid rgb(255, 170, 34);
        display: inline-block;
        cursor: pointer;
        color: rgb(51, 51, 51);
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: rgb(255, 238, 102) 0px 1px 0px;"
        >
          Generate Candy Machine
        </button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
